@import "tailwindcss";

@font-face {
    font-family: "FiraSans-Medium";
    src: url('/static/fonts/FiraSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    --color-jaba: #4a4a4a;

    --font-sans: 'FiraSans-Medium', sans-serif;
}